<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
    <div class="filter"></div>
    <div class="container">
      <div class="motto text-center">
        <h1>DÉVELOPPEUR INFORMATIQUE</h1>
        <h3>Site vitrine, évènementiel, e-commerce</h3>
        <br/>
        <a href="#contact" class="btn btn-outline-neutral btn-round">Contact</a>
      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
  </div>
  <div class="main">
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Un développeur web passionné !</h2>
          <h5 class="description">Ma passion pour le développement web commence en 2015. Dès lors, je mis tout en oeuvre
            pour percer dans cette voie, tout en prenant du plaisir sur les divers projets développés.</h5>
          <br>
          <a href="#profile" class="btn btn-danger btn-round">Profil</a>
        </div>
      </div>
      <br/><br/>
      <div class="row">
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-album-2"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Site vitrine</h4>
              <p class="description">Les sites vitrine sont très import pour l'image d'une entreprise. Durant mes année
                d'expérience j'ai réalié plusieurs site.</p>
              <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-chart-bar-32"></i>
            </div>
            <div class="description">
              <h4 class="info-title">E-commerce</h4>
              <p>Le commerce en ligne ouvre de belles opportunités aux commerçants.</p>
              <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-sun-fog-29"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Évènementiel</h4>
              <p>Mes compétences ne sont pas seulement le développement web. J'ai acquis de l'expérience dans nombreux
                domaine.</p>
              <!--<a href="#pkp" class="btn btn-link btn-danger">See more</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a id="profile"></a>
  <div class="section section-dark text-center">
    <div class="container">
      <h2 class="title">À PROPOS</h2>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a><img src="./assets/img/faces/gabriel-cousin.jpg" alt="gabriel cousin"></a>
            </div>
            <div class="card-block">
              <a>
                <div class="author">
                  <h4 class="card-title">Gabriel Cousin</h4>
                  <h6 class="card-category text-danger">je suis développeur web et j'aime ça!</h6>
                </div>
              </a>
              <p class="card-description text-center">
                Étudiant en master informatique IWOCS spécialisé dans le développement web, j'ai fait de ma passion mon
                métier. J'ai de nombreuses années d'expérience dans plusieurs domaines (web, natif, iot, android). J'ai
                réalisé plusieurs projets que ça soit durant mes études, mes stages, mon alternance ou projet personnel.
              </p>
            </div>
            <div class="card-footer text-center">
              <a class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
              <a class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
              <a class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Compétence en développement</h2>
          <br>
        </div>
      </div>
      <br/><br/>
      <div class="row">
        <div class="col-md-4">
          <div class="info">
            <div class="description">
              <h4 class="info-title">Domaines de compétences</h4>
              <div class="text-left mt-4">
                <div>
                  <h6>Gestion de projet</h6>
                  <p class="ml-3 font-italic">Site vitrine, e-commerce, intranet, application
                    mobile</p>
                </div>
                <div class="mt-3">
                  <h6>Intégration HTML / CSS</h6>
                  <p class="ml-3 font-italic">Codage à la main respectueux des standards du Web</p>
                </div>
                <div class="mt-3">
                  <h6>Applications spécifiques et API</h6>
                  <p class="ml-3 font-italic">PHP - JS - ASP.NET - C# - JAVA</p>
                </div>
                <div class="mt-3">
                  <h6>Conception multi-plateformes</h6>
                  <p class="ml-3 font-italic">Compatible tous supports, tablette & application mobile</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <img src="./assets/img/competence.png" alt="gabriel cousin" style="max-width: 100%">
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="description">
              <h4 class="info-title">Connaissances</h4>
              <div class="text-left">
                <div class="mt-4">
                  <h6>Langage de programmation</h6>
                  <div class="progress mt-3">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100">HTML / CSS
                    </div>
                  </div>
                  <div class="progress mt-3">
                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100">JAVASCRIPT
                    </div>
                  </div>
                  <div class="progress mt-3">
                    <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100">PHP
                    </div>
                  </div>
                  <div class="progress mt-3">
                    <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100">JAVA
                    </div>
                  </div>
                  <div class="progress mt-3">
                    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100">C#
                    </div>
                  </div>
                </div>
                <div class="mt-4">
                  <h6>Framwork</h6>
                  <div class="progress mt-3">
                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="10"
                         aria-valuemin="0" aria-valuemax="100">Bootstrap
                    </div>
                  </div>
                  <div class="progress mt-3">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100">Angular
                    </div>
                  </div>
                  <div class="progress mt-3">
                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100">Symfony
                    </div>
                  </div>
                  <div class="progress mt-3">
                    <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100">.net core
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="navigation-example">
      <nav class="navbar navbar-expand-lg navbar-transparent" style="padding: 75px">
      </nav>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="text-center"><a id="contact"></a>Contact</h2>
          <form class="contact-form">
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Name" (focus)="focus=true"
                         (blur)="focus=false">
                </div>
              </div>
              <div class="col-md-6">
                <label>Email</label>
                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                  <div class="input-group-prepend">
                    <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true"
                         (blur)="focus1=false">
                </div>
              </div>
            </div>
            <label>Message</label>
            <textarea class="form-control" rows="4"
                      placeholder="Tell us your thoughts and feelings..."></textarea>
            <div class="row">
              <div class="col-md-4 mr-auto ml-auto">
                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
